$backgroundColor: #31373A;

.page-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) inset;

  .tab {
    float: left;
    background-color: #353C3F;
    cursor: default;

    &.active {
      background: linear-gradient(#647177, #525E64);
      border-radius: 2px 2px 0;
    }

    .close-icon {

    }
  }

  .iframe-wrapper {
    flex-grow: 1;
    overflow: auto
  }

  .iframe-area {
    margin: 0 auto;
    padding: 10px;

    .iframe {
      display: none;
      height: 100%;
      width: 100%;

      &.current {
        display: block;
      }
    }
  }
}